@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lilas: #8b5cf6;
  --lilas-claro: #c4b5fd;
  --lilas-hover: #7c3aed;
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 248, 250, 252; 
  --background-end-rgb: 241, 245, 249;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* Fonte padrão de sistemas modernos */
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}